@font-face {
  font-family: "HelveticaNeueNormal";
  src: url("HelveticaNeue.eot");
  src: url("HelveticaNeued41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue.woff") format("woff"), url("HelveticaNeue.ttf") format("truetype"), url("HelveticaNeue.html#fs_albertregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueNEW";
  src: url("helveticaneuelight-webfont.eot");
  src: url("helveticaneuelight-webfontd41d.eot?#iefix") format("embedded-opentype"), url("helveticaneuelight-webfont.woff") format("woff"), url("helveticaneuelight-webfont.ttf") format("truetype"), url("helveticaneuelight-webfont.svg#fs_albertregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueNEW";
  src: url("HelveticaNeue-Bold.eot");
  src: url("HelveticaNeue-Boldd41d.eot?#iefix") format("embedded-opentype"), url("HelveticaNeue-Bold.woff") format("woff"), url("HelveticaNeue-Bold.ttf") format("truetype"), url("HelveticaNeue-Bold.html#fs_albertregular") format("svg");
  font-weight: bold;
  font-style: bold; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #f0f0f0;
  font-family: "HelveticaNeueNEW", Helvetica, Arial, sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 18px;
  overflow-x: hidden;
  overflow-y: hidden; }

.page {
  position: relative; }

.control {
  position: fixed;
  z-index: 20; }
  .control div {
    margin-bottom: 2px;
    cursor: pointer; }

.logo-holder {
  position: absolute; }

.scroll-down {
  position: fixed; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  cursor: pointer; }
  .overlay .message {
    line-height: 25px;
    font-size: 18px;
    width: 220px;
    height: 140px;
    background-color: #66e7f3;
    color: white;
    padding: 30px;
    cursor: pointer;
    position: absolute; }

nav {
  padding-bottom: 30px;
  height: 18px;
  padding-top: 32px;
  text-align: center;
  background-color: #f0f0f0;
  z-index: 20;
  position: fixed;
  font-size: 18px; }
  nav ul li {
    float: left;
    margin-right: 30px; }
    nav ul li a {
      color: #999999;
      text-decoration: none; }
    nav ul li.selected a {
      color: #66e7f3;
      text-decoration: none; }

.reel-holder {
  position: absolute;
  width: 850px;
  height: 400px; }

.about .about-holder {
  position: absolute;
  width: 850px;
  height: 400px; }
.about h2 {
  top: 0;
  font-size: 58px;
  width: 770px;
  height: 58px;
  font-weight: bold; }
.about p {
  font-size: 18px;
  line-height: 25px;
  width: 600px; }
.about ul {
  font-size: 18px;
  line-height: 25px; }
.about h2,
.about p,
.about ul {
  position: relative;
  z-index: 10; }
.about .background {
  position: absolute;
  width: 770px;
  height: 400px;
  z-index: 9;
  top: 80px; }

.contact-list-holder {
  font-size: 18px;
  line-height: 20px;
  width: 840px;
  text-align: center;
  margin: 100px auto;
  position: absolute; }
  .contact-list-holder .contact-element {
    width: 265px;
    height: 265px;
    background-color: white;
    margin-right: 15px;
    float: left;
    position: relative; }
    .contact-list-holder .contact-element a {
      text-decoration: none; }
    .contact-list-holder .contact-element .floaty-light {
      width: 265px;
      height: 265px;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer; }
    .contact-list-holder .contact-element .overlay {
      position: absolute;
      width: 265px;
      height: 145px;
      display: none;
      padding-top: 120px;
      background-color: #66e7f3;
      color: white;
      left: 0;
      top: 0;
      cursor: pointer; }
  .contact-list-holder .shadow {
    clear: both;
    padding-top: 20px;
    width: 825px;
    height: 50px; }
    .contact-list-holder .shadow img {
      width: 825px; }
